@import "../../pages/default.styles.scss";

.main-button {
  border: none;
  padding: 5px 23px;
  text-align: center;
  border-radius: 35px;
  font-size: 16px;
  margin: 0 10px;
  font-family: $Axiforma-Medium;
  color: #113077;

  a:hover {
    text-decoration: none;
    transition: 0.4s all;
  }
}
