@import "../../pages/default.styles.scss";

.main-button {
  border: none;
  padding: 8px 25px 4px 25px;
  text-align: center;
  border-radius: 20px;
  color: #113077;
  font-family: $Axiforma-Medium;

  a:hover {
    text-decoration: none;
    transition: 0.4s all;
  }
}
