.booking__main__wrapper {
  .booking__wrapper {
    padding: 30px 0;
    .booking__calender {
      margin-bottom: 30px;
    }
    .booking__information {
      border-radius: 3px;
      border: 1px solid #cad7e4;
    }
  }
}
