.booking__status {
  border-radius: 3px;
  border: 1px solid #cad7e4;

  .alert-red {
    background: #ec0c0c2e;
    border-radius: 2px;
    text-align: center;
    padding: 15px 0;
    margin: 10px;
    h6 {
      font-family: "Axiforma-Light";
      margin: 0;
    }
  }

  .hint__text {
    padding: 15px 20px;
    h5 {
      margin: 0;
      font-family: "Axiforma-SemiBold";
    }
  }
  hr {
    margin-top: 0rem;
  }
  .lessons_cart {
    padding: 5px 0;

    .lesson_booked {
      margin-bottom: 15px;
      padding: 0 15px;
      .lesson__info_text {
        display: flex;
        justify-content: space-between;

        p {
          font-family: "Axiforma-SemiBold";
          padding: 0;
          margin-bottom: 0.2rem;
        }
        .right {
          display: flex;
          width: 70px;
          justify-content: space-between;

          img {
            cursor: pointer;
            height: 22px;
          }
        }
      }
      .lesson__critaria__text {
        p {
          font-family: "Axiforma-Light";
          padding: 0;
          font-size: 15px;
          margin-bottom: 0.2rem;
        }
      }
    }
  }
  .booking__confirm__area {
    padding: 0 15px;
    h6 {
      font-family: "Axiforma-Bold";
    }
    .service_fee {
      display: flex;
      justify-content: space-between;

      p {
        padding: 0;
        font-family: "Axiforma-Light";
        font-size: 15px;
      }
    }
  }
  .booking__btn__area {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    h6 {
      font-family: "Axiforma-Bold";
    }
  }

  button {
    background: #80d047;
    font-family: "Axiforma-SemiBold";
    text-align: center;
    box-shadow: 0px 0px 8px 0px #00000063;
    border: none;
    padding: 10px 35px;
    border-radius: 30px;
    color: #ffffff;
    margin: 20px 15px;
  }
}
