.thired__block {
  margin-bottom: 40px;
  background: #f6f9fc;
  padding-top: 20px;

  .thired_block__text {
    position: relative;
    top: 80px;

    h5 {
      font-family: "Axiforma-Regular";
      color: rgb(45, 45, 45);
      line-height: 1.417;
    }
    p {
      font-family: "Axiforma-Light";
      color: rgb(45, 45, 45);
      line-height: 1.417;
    }
  }
}
