.driving_instructor__wrapper {
  h4 {
    font-family: "Axiforma-Medium";
    color: rgb(45, 45, 45);
    line-height: 1.417;
  }
  h5 {
    font-family: "Axiforma-Regular";
    color: rgb(45, 45, 45);
    line-height: 1.417;
  }
  p {
    font-family: "Axiforma-Light";
    color: #525252;
    line-height: 1.417;
  }
}
