.navigation__wrapper {
  .signin__btn {
    background: #ffffff;
    font-family: "Axiforma-SemiBold";
    text-align: center;
    box-shadow: 0px 0px 8px 0px #00000063;
    border: none;
    padding: 10px 32px;
    border-radius: 30px;
    color: #555555;
    margin: 0 20px;
  }

  nav {
    height: 80px;
    width: 100%;

    button {
      display: none;
    }

    ul {
      float: right;
      list-style: none;
    }

    ul li {
      display: inline-block;
      line-height: 60px;
      margin: 0 5px;
    }

    a:hover {
      text-decoration: none;
      color: black;
    }
    a {
      color: #ffffff;
      // font-family: "Axiforma-Medium";
      font-family: "Axiforma-Light";
    }

    .checkbtn {
      float: right;
    }
    #check {
      display: none;
    }
  }

  label {
    line-height: 80px;
    a {
      img {
        width: 250px;
      }
    }
  }
}

@media (max-width: 952px) {
  .navigation__wrapper {
    nav {
      button {
        display: inline-block;
      }
      .logo {
        color: #ffffff;
        font-weight: bold;
        line-height: 80px;
        font-size: 30px;
      }

      ul li a {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 858px) {
  .navigation__wrapper {
    nav {
      .checkbtn {
        display: block;
        cursor: pointer !important;
      }
      .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
        top: 15px;
      }

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: 40px;
        height: 5px;
        background-color: #fff;
        border-radius: 5px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
      }
      .hamburger.is-active .hamburger-inner,
      .hamburger.is-active .hamburger-inner::before,
      .hamburger.is-active .hamburger-inner::after {
        background-color: #fff;
        width: 40px;
      }
      .hamburger-inner {
        width: 30px;
      }
      .hamburger.is-active:hover {
        opacity: 1;
      }
      .hamburger:hover {
        opacity: 1;
      }
      .hamburger-inner {
        width: 50px;
        display: flex;
        justify-content: flex-end;
        right: 0;
      }
      .hamburger-inner::before {
        top: -12px;
      }
      .hamburger-inner::after {
        bottom: -12px;
      }

      .checkbtn:hover {
        color: #ffffff;
      }

      ul {
        position: fixed;
        width: 45%;
        height: 100vh;
        background: #319afb;
        top: 0;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 11111;
      }

      ul li {
        display: list-item;
        text-align: left;
        position: relative;
        left: 10px;
      }

      #check:checked ~ ul {
        left: 0;
      }
    }
  }
}
@media (max-width: 375px) {
  .navigation__wrapper {
    ul {
      position: fixed;
      width: 45%;
      height: 100vh;
      background: #319afb;
      top: 0;
      text-align: center;
      transition: all 0.5s;
      z-index: 11111;

      li {
        display: list-item;
        position: relative;
        left: 10px;
      }
    }
    ul li label a img {
      width: 140px;
    }
    label {
      a {
        img {
          width: 200px;
        }
      }
    }
  }
}
