@import "../../pages/default.styles.scss";

.promise__wrapper {
  margin-top: 10rem;
  margin-bottom: 4rem;

  .promise__container {
    box-shadow: 0px 0px 20px 5px #00000014;
    border-radius: 5px;

    .image-res {
      span {
        display: none;
      }
    }

    img {
      position: relative;
    }

    h4 {
      font-family: "Axiforma-Regular";
      text-align: left;
      color: $text-color;
    }

    p {
      font-family: "Axiforma-Light";
      line-height: 1.647;
      text-align: left;
      color: $text-color;
    }

    span {
      position: relative;
      background: #309afb;
      padding: 15px;
      color: #fff;
      font-family: "Axiforma-Medium";
      top: -20px;
      clip-path: polygon(
        0% 0%,
        100% 0,
        100% 85%,
        25% 85%,
        20% 100%,
        15% 85%,
        0 85%
      );
    }

    .line {
      background-color: $primary-color;
      width: 105px;
      height: 3px;
      z-index: 181;
      margin: 15px 0;
    }
    .phone {
      margin-top: -7rem;
    }

    .promise__text__wrapper {
      .main__text__wrapper {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .promise__wrapper {
    margin: 50px 0;

    .promise__container {
      .image-res {
        text-align: center;

        span {
          display: block;
          left: 0;
          position: static;
          margin-bottom: 10px;
        }
      }

      .promise__text__wrapper {
        text-align: center;
        padding: 20px;
      }
      span {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .promise__wrapper {
    .promise__container {
      .phone {
        margin-top: 2rem;
      }
      .image-res {
        span {
          padding: 8px 6px;
          top: -60px;
          left: 126px;
        }
      }
    }
  }
}
