.blockone__wrapper {
  a {
    padding: 10px 20px;
    text-align: center;
    border: 1px solid;
    font-family: "Axiforma-Medium";
    display: inline-block;
    margin-top: 20px;
  }

  .helping__driving__instructors {
    padding: 40px 0;
    margin-bottom: 30px;
  }
}
