// Default Colors
$default-btn-color: #113077;
$default-btn-bg-color: #80d047;
$default-btn-hover-color: #113077;
$white: #ffffff;

$Axiforma-Medium: "Axiforma-Medium";

$AxiformaSemiBold: "Axiforma-SemiBold";
