// Default Colors
$default-btn-color: #113077;
$default-btn-bg-color: #80d047;
$default-btn-hover-color: #113077;
$white: #ffffff;

$Axiforma-Medium: "Axiforma-Medium";

$AxiformaSemiBold: "Axiforma-SemiBold";

$primary-color: rgb(0, 154, 252);
$text-color: rgb(82, 82, 82);
$default-line-hight: 1.647;
