.privacy__policy {
  h3 {
    font-family: "Axiforma-Semibold";
  }
  p {
    font-family: "Axiforma-Light";
    line-height: 1.625;
    margin: 0;
  }

  h5 {
    font-family: "Axiforma-Bold";
    line-height: 1.625;
  }

  table {
    font-family: "Axiforma-Light";
  }

  a {
    font-family: "Axiforma-Medium";
  }

  h6 {
    font-family: "Axiforma-Semibold";
    color: rgb(82, 82, 82);
    line-height: 1.625;
  }
  ul {
    padding: 0 15px;
    margin: 0;
    li {
      margin-bottom: 0.5rem;
    }
  }

  .crn {
    color: #525252;
    font-size: 25px;
    font-family: "Axiforma-Bold";
  }

  .wrapper {
    padding: 20px 0;
  }
  .ggl__anal {
    padding: 10px 0;
  }
  .text__layer {
    h3 {
      color: #4caf50;
    }
    padding: 15px 0;
  }
}
