@import "../../pages/default.styles.scss";

.appintro__wrapper {
  margin-top: -100px;
  background: #f6f9fc;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  padding-bottom: 3%;
  margin-top: -10%;
  padding-top: 12%;

  .intro__text__one {
    text-align: end;
    top: 48%;
    position: relative;
    h4 {
      font-family: "Axiforma-Medium";
    }

    p {
      font-family: "Axiforma-Thin";
    }
  }
  .intro__text__two {
    top: 48%;
    position: relative;

    h4 {
      font-family: "Axiforma-Medium";
    }

    p {
      font-family: "Axiforma-Thin";
    }
  }

  .mobile__wrapper__one {
    .mobOne {
      position: relative;
      z-index: 11;
    }
    .mobTwo {
      position: absolute;
      top: 60px;
      right: 0;
    }
  }

  // .mobile__wrapper__two {
  //   .mobOne {
  //     position: relative;
  //     z-index: 11;
  //     left: -15px;
  //   }
  //   .mobTwo {
  //     position: absolute;
  //     top: 60px;
  //     right: 10px;
  //   }
  // }
}

@media (max-width: 858px) {
  .appintro__wrapper {
    margin-top: 0px;
    background: #f6f9fc;
    clip-path: none;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-top: 12%;
  }
}
@media (max-width: 576px) {
  .appintro__wrapper {
    padding-top: 5%;
    padding-bottom: 5%;
    .intro__text__one {
      top: -15%;
    }
  }
}
