@import "../../pages/default.styles.scss";

@media (max-width: 576px) {
  .appintro__wrapper {
    .intro__text {
      height: 300px !important;
      position: relative;

      .text {
        top: 45%;
        position: absolute;
        text-align: center;
        left: 0;
      }
    }
  }
}

.appintro__wrapper {
  margin-top: -100px;
  background: #f6f9fc;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  padding-bottom: 7rem;
  margin-top: -10%;
  padding-top: 12%;

  .intro__text {
    height: 100%;
    img {
      position: absolute;
      height: 100%;

      -webkit-animation: vibrate-3 5s linear infinite both;
      animation: vibrate-3 5s linear infinite both;
    }
    .text2 {
      top: 35%;
      position: absolute;
      text-align: left;

      h4 {
        font-family: "Axiforma-Medium";
        color: rgb(45, 45, 45);
        line-height: 1.867;
      }

      p {
        font-family: "Axiforma-Thin";
        color: rgb(45, 45, 45);
        line-height: 1.867;
      }
    }
    .text {
      top: 48%;
      position: absolute;
      text-align: right;
      right: 0;

      h4 {
        font-family: "Axiforma-Medium";
        color: rgb(45, 45, 45);
        line-height: 1.867;
      }

      p {
        font-family: "Axiforma-Thin";
        color: rgb(45, 45, 45);
        line-height: 1.867;
      }
    }
  }

  .intro__text__one {
    text-align: end;
    top: 48%;
    position: relative;
  }
  .intro__text__two {
    // background: url("./assets/shapebg1.png");
    top: 48%;
    position: relative;

    h4 {
      font-family: "Axiforma-Medium";
    }

    p {
      font-family: "Axiforma-Thin";
    }
  }

  .mobile__wrapper__one {
    .mobOne {
      position: relative;
      z-index: 11;
    }
    .mobTwo {
      position: absolute;
      top: 60px;
      right: 0;
    }
  }
}

@media (max-width: 858px) {
  .appintro__wrapper .mobile__wrapper__one .mobOne {
    position: relative;
    z-index: 11;
    height: 400px;
  }
  .appintro__wrapper .mobile__wrapper__one .mobTwo {
    position: absolute;
    top: 60px;
    right: 0;
    height: 300px;
  }
  .appintro__wrapper .intro__text .text2 {
    top: 25%;
  }
  .appintro__wrapper {
    margin-top: 0px;
    background: #f6f9fc;
    clip-path: none;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-top: 10%;
    padding-bottom: 10%;

    .intro__text__two {
      margin-bottom: 50px;
    }
  }
}
@media (max-width: 576px) {
  .appintro__wrapper {
    padding-top: 5%;
    padding-bottom: 5%;
    .intro__text .text {
      top: 30%;
    }
  }
}
@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
