@import "../../pages/default.styles.scss";

.footer__wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
  background: #f6f9fc;
  border-top: 1px solid #cccccc;

  ul li {
    list-style: none;
  }

  ul li strong {
    font-family: "Axiforma-SemiBold";
    color: $text-color;
  }

  ul li a {
    font-family: "Axiforma-Thin";
    color: $text-color;
    font-size: 14px;
  }

  .copyright__wrapper {
    small {
      font-family: "Axiforma-Thin";
      color: $text-color;
    }

    img {
      height: 30px;
    }
  }
}
