@import "../../pages/default.styles.scss";

.hld__wrapper {
  margin-top: 45px;
  .hld__image__sec {
    -webkit-animation: heartbeat 5s ease-in-out infinite both;
    animation: heartbeat 5s ease-in-out infinite both;
    img {
      height: 600px;
    }
  }

  h4 {
    font-family: "Axiforma-Regular";
    text-align: left;
    color: $text-color;
  }

  p {
    font-family: "Axiforma-Light";
    line-height: 1.647;
    text-align: left;
    margin-bottom: 0.5rem;
    color: $text-color;
  }

  .button {
    margin: 20px 0;
    a {
      background: #80d047;
      font-family: "Axiforma-SemiBold";
      text-align: center;
      box-shadow: 0px 0px 8px 0px #00000063;
      border: none;
      border-radius: 30px;
      color: #ffffff;
      padding: 1rem 2rem;
    }
  }

  .line {
    background-color: $primary-color;
    width: 105px;
    height: 3px;
    z-index: 181;
    margin: 15px 0;
  }

  .girl__bottom {
    background: $primary-color;
    padding: 20px;
    width: 60%;
    position: relative;
    left: 8%;
    border-radius: 2px;
    top: -50px;

    p {
      font-family: "Axiforma-Medium";
      color: #ffffff;
      margin: 0;
      text-align: center;
    }
  }
}

@media (max-width: 767.98px) {
  .hld__text__wrapper label img {
    padding-right: 10px;
    height: 10px;
  }
  .hld__wrapper {
    margin: 30px 0;
    padding: 0;

    .hld__image__sec {
      img {
        display: none;
      }
      .girl__bottom {
        background: #009afc;
        padding: 10px;
        width: 100%;
        left: 0%;
        border-radius: 2px;
        top: 0;
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 576px) {
  .hld__wrapper {
    margin: 30px 0;
    padding: 0;

    .button {
      a {
        border-radius: 0px;
      }
    }
    .hld__image__sec {
      img {
        display: none;
      }
      .girl__bottom {
        display: none;
      }
    }
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
