@font-face {
  font-family: "Axiforma-Regular";
  src: local("Axiforma-Regular"), local("Axiforma-Regular"),
    url("../src/fonts/Axiforma-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Axiforma-Book";
  src: local("Axiforma-Book"), local("Axiforma-Book"),
    url("../src/fonts/Axiforma-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Axiforma-Medium";
  src: local("Axiforma-Medium"), local("Axiforma-Medium"),
    url("../src/fonts/Axiforma-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Axiforma-SemiBold";
  src: local("Axiforma-SemiBold"), local("Axiforma-SemiBold"),
    url("../src/fonts/Axiforma-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Axiforma-Bold";
  src: local("Axiforma-Bold"), local("Axiforma-Bold"),
    url("../src/fonts/Axiforma-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Axiforma-Light";
  src: local("Axiforma-Light"), local("Axiforma-Light"),
    url("../src/fonts/Axiforma-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Axiforma-Thin";
  src: local("Axiforma-Thin"), local("Axiforma-Thin"),
    url("../src/fonts/Axiforma-Thin.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
button:focus {
  outline: none;
  outline: 0px !important;
}
