.saving__money {
  clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 15%);
  padding: 60px;
  background: #f6f9fc;

  .entire__sec {
    padding: 40px 0;

    .save__extra {
      padding: 30px 0;

      h5 {
        font-family: "Axiforma-Bold";
        margin-top: 0.7rem;
      }
    }
  }
}
